extends ../layouts/common
block content
    h1 
        span Products
        form.ml-auto(action="" class="d-flex justify-content-end")
            input.col-md-2(type="text" name="q" class="form-control" placeholder="Tìm theo tên")
            button(class="btn btn-primary ml-2") Search
    table.table
        tbody   
            tr
                td 
                    img(src="products"class="img-thumbnail)
    